.sidebarContainer{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
    background-color: #9E0D0D;
    width: 25vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.sidebarResponsive{
    display: none;
}
.h1-div{
    padding-top: 5%;
    cursor: pointer;
}
.top-container{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    border-bottom: 1px solid ;
    border-bottom: 5%;
    padding-top: 0;
}
ul{
    list-style-type: none;
}
li{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    width: 19vw;
    height: 7vh;
    padding-left: 10%;
    justify-content: center;
    padding-top: 7%;
}
h1{
    font-size: 40px;
}
.bottom-container{
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: start;
    cursor: pointer;

}
li:hover{
    background-color: #8a0202;
    
}
.hamburger-container{
    display: none;
}
.hamburger{
    cursor: pointer;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #ffffff;

}
@media (max-width: 1000px){
    .hamburger-container{
        display: flex;
        background-color: #9E0D0D;
        height: 7vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
      
    }
    h1{
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .hamburger{
        margin-right: 5%;
        margin-left: auto;
       

    }
    
    .sidebarContainer{
        display: none;
    }
    .sidebarResponsive{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #9E0D0D;
        color: #ffffff;
        height: 100vh;
        padding-top: 0;
    }
    .h1-div{
        display: none;
    }
    li{
        width: 100vw;
        height: 5vh;
        padding-top: 5%;

    }
    .top-container{
        border-bottom: 0px;
    }

}